[project]
	description = simple mvc system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aleksandr Zamiatin (CawaKharkov)
[access "refs/for/refs/*"]
	read = group user/Aleksandr Zamiatin (CawaKharkov)
	push = group user/Aleksandr Zamiatin (CawaKharkov)
	label-Code-Review = -2..+2 group user/Aleksandr Zamiatin (CawaKharkov)
	label-Verified = -1..+1 group user/Aleksandr Zamiatin (CawaKharkov)
	rebase = group user/Aleksandr Zamiatin (CawaKharkov)
	removeReviewer = group user/Aleksandr Zamiatin (CawaKharkov)
	submit = group user/Aleksandr Zamiatin (CawaKharkov)
[access "refs/heads/*"]
	read = group user/Aleksandr Zamiatin (CawaKharkov)
	create = group user/Aleksandr Zamiatin (CawaKharkov)
	push = +force group user/Aleksandr Zamiatin (CawaKharkov)
	pushMerge = group user/Aleksandr Zamiatin (CawaKharkov)
[access "refs/tags/*"]
	push = +force group user/Aleksandr Zamiatin (CawaKharkov)
	pushTag = group user/Aleksandr Zamiatin (CawaKharkov)
	pushSignedTag = group user/Aleksandr Zamiatin (CawaKharkov)
